doctype html 
html 
    head 
        block head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        <script src="https://use.fontawesome.com/cb6817568b.js" defer></script>
        title Real time chat application | #{title}
    body 
        block content 



    script(type="module" src="/js/index.js" defer)